body,html {
	padding:0;
	margin:0;
}
body {
	background: #f6f6f6;
}

header {
	margin:0;
	text-align: center;
	background: url('../img/px_by_Gre3g.png');
	color:#f7f7f7;
	padding-top:170px;
	padding-bottom:8px;
	text-shadow: 1px 1px 1px #222;
	margin-bottom:25px;
	-webkit-box-shadow: 0px 3px 25px 3px #444;
	box-shadow: 0px 3px 25px 3px #444;
}

h1 {
	margin:0;
	font-size:96px;
	font-weight:100;
	font-family: 'Alfa Slab One', "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h2 {
	font-family: 'HelveticaNeue-UltraLight', 'Helvetica Neue UltraLight', 'Helvetica Neue', Arial, Helvetica, sans-serif;
	font-weight:100;
	margin-top:45px;
	letter-spacing: 1px;
}

#main {
	text-align: center;
}

.login_text {
	width:200px;
	margin:0 !important;
}

#login_form {
	width:200px;
	margin:0 auto;
}

#phone_number_label {
	font-size:10px;
	font-style: italic;
	text-align: left;
	margin:0;
	padding: 0;
	margin-bottom:10px;
}